<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  
  </configSections>
  <appSettings>
    <add key="ConnectionString" value="Data Source=(localdb)\Projects;Initial Catalog=NewBikeStore;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  </appSettings>  
</configuration>